<div class="customers-page">
  <div class="page-header">
    <h2>Clienti</h2>
    <button class="btn-primary" (click)="goToNewCustomer()">+ Nuovo cliente</button>
  </div>

  <ul class="customer-list">
      @if (customers$ | async; as page) {
        @if (page.content.length === 0) {
          <li class="empty-state">
            <p>Nessun cliente</p>
          </li>
        }
        @else {
          @for (c of page.content; track c.id) {
            <li class="customer-item" (click)="goToCustomerDetail(c.code!)">
              <div class="code">{{ c.code }}</div>

              <div class="info">
                <div class="name">{{ c.name }} {{ c.surname }}</div>
                <div class="name">Billing address: {{ c.billingAddress }}</div>
                <div class="name">Shipping address: {{ c.shippingAddress }}</div>
                <div class="name">Email: {{ c.email }}</div>
                <div class="name">Tax code: {{ c.taxCode }}</div>

              </div>

              <div class="arrow">▶</div>
            </li>
          }
        }

        <mat-paginator
          [length]="page.totalElements"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="onPageChange($event)">
        </mat-paginator>

      }
    
  </ul>
</div>
