<div class="slot-page">
  <div class="page-header">
    <h2>Slot</h2>
    <button class="btn-primary" (click)="goToNewSlot()">+ Nuovo Slot</button>
  </div>

  <ul class="slot-list">
      @if (slots$ | async; as page) {
        @if (page.content.length === 0) {
          <li class="empty-state">
            <p>Nessun Slot</p>
          </li>
        }
        @else {
          @for (s of page.content; track s.id) {
            <li class="slot-item" (click)="goToSlotDetail(s.id!)">
              <div class="code">{{ s.code }}</div>

              <div class="info">
                <div class="category">Categoria: {{ s.allowedCategory }}</div>
                <div class="capacity">Capacità: {{ s.capacity }}</div>
                <div class="picking-sequence">Sequenza di prelievo: {{ s.pickingSequence }}</div>
              </div>

              <div class="arrow">▶</div>
            </li>
          }
        }

        <mat-paginator
          [length]="page.totalElements"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="onPageChange($event)">
        </mat-paginator>

      }
    
  </ul>
</div>
