<div class="detail">
  @if (slot$ | async; as slot) {
  <div class="detail-card">
    <h2>{{ slot.code }}</h2>

    <div class="row">
      <span class="label">Capacità</span>
      <span>{{ slot.capacity }}</span>
    </div>

    <div class="row">
      <span class="label">Categoria</span>
      <span>{{ slot.allowedCategory }}</span>
    </div>

    <div class="row">
      <span class="label">Picking Sequence</span>
      <span>{{ slot.pickingSequence || '-' }}</span>
    </div>

    @if (slot.stockUnits?.length; as count) {
    <div class="stockunit-section">
      <h3>Stock Units ({{ count }})</h3>

      @for (su of slot.stockUnits!; track su.id) {
      <li>{{ su.code }} – Qty: {{ su.quantity }} - Prodotto: {{ su.productCode }}</li>
      }
    </div>
    }

    <div class="actions">
      <button matButton="filled" class="btn-secondary" (click)="goBack()">Indietro</button>
      <button matButton="filled" class="btn-primary" (click)="edit(slot.id!)">Modifica</button>
      <button matButton="filled" class="btn-danger" (click)="delete(slot.id!)">Elimina</button>
    </div>
  </div>
  }
</div>
